<form id="contact_left_margin">
  <fieldset id="contact_width">
    <legend class="lightgray_text">Say hi.</legend>
    	<p class="help-block gray_text" id="contact_form_text">We would love to work with you. To schedule a free design consultation, simply contact us by filling in the form below, or calling <strong>413-358-5566.</strong>
    	</p>
    	<br>
    		<input class="span3" type="text" required placeholder="Name"><br>
    		<input class="span3" type="email" required placeholder="Email"><br>
    		<input class="span3" type="text" required placeholder="Phone"><br>
    		<textarea class="span3" rows="5" placeholder="Tell us a little bit about your project..."></textarea><br>
    		<label class="checkbox gray_text" id="checkbox_font">
      			<input type="checkbox"> Yes, I would like to receive One Fourteen Bailey email updates
    		</label><br>
    	<button type="submit" class="btn">Submit</button>
  </fieldset>
</form>