<div class="row">
	<div class="span5 offset2 center">
		<%= image_tag("how-we-are-different_1.png", :alt => "One Fourteen Bailey Services") %>
	</div>	
	<div class="span4">
		
		<h3 class="gray_text left">A new approach to designing the perfect space</h3>
		<br>
		<p class="gray_text left">
			Our <strong>fresh ideas and innovative designs</strong> offer an opportunity to create the perfect home that is unique to you.
		<br>
		<br>
			By helping you learn how to plan and create, our <strong>energetic and collaborative process</strong> will leave you inspired and with a space to call your own.
		<br>
		<br>
			Interior design doesn’t need to be expensive, and with our <strong>affordable design plan</strong> you have complete control over your money and how your budget is spent.
		</p>
		<br>
		<button class="image_center btn btn-primary custom" type="button">SCHEDULE A FREE DESIGN CONSULTATION TODAY</button>		
	</div>
</div>