<div class="image_center content_center">
	<div class="center" id="differences_left">
		<%= image_tag("how-we-are-different_1.png", :alt => "One Fourteen Bailey Services") %>
	</div>

	<div class="center" id="differences_right">
		
		<h4 class="gray_text left text_width image_center">A new approach to designing the perfect space</h4>
		<br>
		<p class="gray_text left text_width image_center">
			Our <strong>fresh ideas and innovative designs</strong> offer an opportunity to create the perfect home that is unique to you.
		<br>
		<br>
			By helping you learn how to plan and create, our <strong>energetic and collaborative process</strong> will leave you inspired and with a space to call your own.
		<br>
		<br>
			Interior design doesn’t need to be expensive, and with our <strong>affordable design plan</strong> you have complete control over your money and how your budget is spent.
		</p>
		<br>
		<%= link_to "SCHEDULE A FREE DESIGN CONSULTATION TODAY", contact_path, :class => "image_center btn btn-primary custom" %>
	</div>
</div>