<% provide(:title, "How We Are Different") %>
<div class="image_center content_center">
	<div class="center" id="differences_left">
		<%= image_tag("how-we-are-different_1.png", :alt => "One Fourteen Bailey Services") %>
	</div>

	<div class="center" id="differences_right">
		
		<h4 class="gray_text left text_width image_center">A new approach to designing the perfect space</h4>
		<br>
		<p class="small_font gray_text left text_width image_center">
			Our <strong>fresh ideas and innovative designs</strong> offer the opportunity to create a home that is completely unique to you.
		<br>
		<br>
			With our <strong>affordable design plan</strong>, interior design doesn’t need to be expensive because you will have complete control over your money and how your budget is spent.
		<br>
		<br>
			Our <strong>energetic and collaborative process</strong> will help you learn how to plan and create, leaving you with a place that is all your own.
		</p>
		<br>
		<%= link_to "SCHEDULE A FREE DESIGN CONSULTATION TODAY", contact_path, :class => "image_center btn btn-primary custom" %>
	</div>
</div>