<div class="image_center content_center">
	
	<div class="content_left center">
		<h4 class="gray_text left text_width">Spaces that inspire — ideas that design happiness</h4>
		<br>
		<p class="gray_text left text_width">
			The most important step in the interior design process is the one often overlooked—the design plan.
		<br>
		<br>
			We offer interior design project planning that allows for flexibility and control of your project, all for one low price.  
		<br>
		<br>
			By eliminating unnecessary costs, we can offer you quality interior design service without the costly price tag.
		</p>
		<br>
		<button class="image_center btn btn-primary custom" type="button">SCHEDULE A FREE DESIGN CONSULTATION TODAY</button>
	</div>
	
	<div class="content_right center">
		<%= image_tag("services_1.png", :alt => "One Fourteen Bailey Services") %>
	</div>	
</div>