<% provide(:title, "Services We Offer") %>
<div class="image_center content_center">
	
	<div class="center" id="services_left">
		<h4 class="gray_text left text_width image_center">Spaces that inspire — ideas that design happiness</h4>
		<br>
		<p class="small_font gray_text left text_width image_center">
			Perfect for the do-it-yourself enthusiast looking for a creative kick-start, One Fourteen Bailey interior design offers inspiration, creative direction, and full design project plans, all for one low price.  
			<br>
			<br>
			This new approach to the interior design process allows for flexibility and control of your project, while providing the highest quality interior design service.
		</p>
		<br>
		<%= link_to "SCHEDULE A FREE DESIGN CONSULTATION TODAY", contact_path, :class => "image_center btn btn-primary custom" %>
	</div>
	
	<div class="center" id="services_right">
		<%= image_tag("services_1.png", :alt => "One Fourteen Bailey Services") %>
	</div>	
</div>