$navbarLinkColorActive: #848383;

$navbarLinkColorHover: #848383;

$navbarLinkColor: #cccccc;

$navbarText: #cccccc;

$sansFontFamily: 'Arial';

$navbarBackground: #ffffff;

$navbarBackgroundHighlight: #ffffff;

$btnPrimaryBackground: #f0887f;

$btnPrimaryBackgroundHighlight: #f0a59f;

@import "bootstrap";
@import "bootstrap-responsive";

.center{
	text-align:center;
}

.left{
	text-align: left
}

.image_center{
  display: block;   
  margin-left: auto;   
  margin-right: auto;
}

.navbar-inner{
	border: 0px;
}

.pull-center {
    text-align: center;
}

.pull-center > .nav {
    float:none;
    display:inline-block;
    *display: inline; *zoom: 1;
    height: 32px;
}

.navbar .nav > li{
	margin-right: 60px;
}

.footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
}

.footer-right{
	margin-right: 15px;
	float:right;
}

.footer-left{
	margin-left: 15px;
	float:left;
}

.gray_text{
	color: #848383;
}

.custom {
	width: 400px;
	height: 45px;
}