<footer class="footer">
	<div class="footer-left">
		<small> P: 413-358-5566
		E: <%= mail_to "info@onefourteenbailey.com", "info@onefourteenbailey.com" %></small>
	</div>	
	<div class="pull-right footer-right">
		<small> © ONE FOURTEEN BAILEY, LLC. </small>
	</div>
</footer>	