<footer class="footer">
	<div class="footer-left">
		P: 413.358.5566
		E: <%= mail_to "info@onefourteenbailey.com", "info@onefourteenbailey.com" %>
	</div>	
	<div class="pull-right footer-right">
		© ONE FOURTEEN BAILEY, LLC.	
	</div>
</footer>	